<!DOCTYPE html>
<html lang="en">
<head>
    <meta  charset="UTF-8">
    <title>index</title>
</head>
<body>
        <form method="POST" action="/patch">
                patch name:<br>
                <input type="text" name="name">
                <br>
                patch description:<br>
                <input type="text" name="description">
                <br>
                image:<br>
                <input type="text" name="image">
                <br><br>
                <input type="submit" value="Submit">
              </form>
</body>
</html>