<!DOCTYPE html>
<html lang="en">
<head>
    <meta  charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>update</title>
</head>
<body>
        <div class="container">
                <div class="page-content">
                        <form method="PATCH" action="/">
                            patch name:<br>
                            <input type="text" name="name">
                            <br>
                            patch description:<br>
                            <input type="text" name="description">
                            <br>
                            <br>
                            change image:<input type="checkbox" name="image">
                            <br>
                            image:<br>
                            <input type="file" name="image">
                            <br><br>
                            <input type="submit" value="Submit">
                          </form>
                </div>
            </div>
</body>
</html>